/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}


body {
  font-family: CerealBook;
}

/**********/
/* HEADER */
/**********/
header {
  display: flex;
  padding: 24px;
  justify-content: flex-end;
  gap: 20px;
}

header button {
  background: none;
  border: none;
  font-family: CerealMedium;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header a {
  color: black;
  position: absolute;
  left: 24px;
}

header button,
header a {
  background: var(--bolletjes-color);
  border-radius: 50%;
  padding: 10px;
}



/*****************/
/*MAIN SECTION STYLING*/
/*****************/

main section:not(:first-of-type) {
  margin: 0 24px;
  border-bottom: 1px solid var(--border-color);
}





/*****************/
/*SECTION 1 STYLING*/
/*****************/


main section:nth-of-type(1) img {
  width: 100%;
  /* position: absolute;
  top: 0;
  z-index: -100; */
}


/*****************/
/*SECTION 2 STYLING*/
/*****************/


main section:nth-of-type(2) {
  border-bottom: none;
}





/*****************/
/*SECTION 3 STYLING*/
/*****************/


main section:nth-of-type(3) {
  display: flex;
  align-items: center;
  border-bottom: none;
}

main section:nth-of-type(3) p:first-of-type {
  display: flex;
  flex-direction: row;
}

main section:nth-of-type(3) p {
  margin: 0;
}





/*****************/
/*SECTION 4 STYLING*/
/*****************/


main section:nth-of-type(4) button{
  margin:0.5em 0 2em 0;
  outline: 0;
  text-decoration: underline;
  border: none;
  background: none;
  color: var(--text-color);
  padding: 0;
  font-family: CerealMedium;
}





/*****************/
/*SECTION 5 STYLING*/
/*****************/


main section:nth-of-type(5){
  display: grid;
  grid-template-columns: 80% 1fr;
  align-items: center;
  justify-items: center;
}





/*****************/
/*SECTION 6 STYLING*/
/*****************/


main section:nth-of-type(6){
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-template-rows: 1fr 40%;
}

main section:nth-of-type(6) img{
  max-width: 4em;
  border-radius: 50%;
  right: 24px;
  grid-column: 2;
  grid-row: 1;
  margin-top: 24px;
}

main section:nth-of-type(6) svg {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  left: 40px;
  top: 40px;
}

main section:nth-of-type(6) h2{
  margin: 20px 0 0 0;
}

main section:nth-of-type(6) p{
  grid-column: 1 / span 2;
}


/*****************/
/*SECTION 7 STYLING*/
/*****************/


main section:nth-of-type(7) ul{
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(7) ul li{
  list-style-type: none;

  display: grid;
  grid-template-columns: 10% 90%;
}

main section:nth-of-type(7) ul li h3{
  margin: 0;
  font-family: CerealMedium;
  font-size: 1.1em;
}

main section:nth-of-type(7) ul li p{
  font-size: 0.9em;
  color:var(--color-light-text);
}

main section:nth-of-type(7) ul li svg{
  grid-row: 1 / span 2 ;
}



/*****************/
/*SECTION 8 STYLING*/
/*****************/


main section:nth-of-type(8){
  padding: 0 0 1em 0;
}

main section:nth-of-type(8) img{
  max-width: 140px;
  padding: 1.5em 0 0 0;
}

main section:nth-of-type(8) p{
  font-size: 0.9em;
  color:var(--color-light-text);

}

main section:nth-of-type(8) a{
  color: var(--link-color);
  text-decoration: underline;
}



/*****************/
/*SECTION 9 STYLING*/
/*****************/
main section:nth-of-type(9) {
  padding: 0 0 1em 0;
}


main section:nth-of-type(9) a {
  color: var(--link-color);
  text-decoration: underline;
  font-family: CerealMedium;
}



main section:nth-of-type(9) ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: 1.5em 1fr;
}

main section:nth-of-type(9) ul li{
  font-size: 0.8em;
}

main section:nth-of-type(9) ul li *:not(svg){
  margin: 0;
}



/*****************/
/*SECTION 10 STYLING*/
/*****************/


main section:nth-of-type(10) {
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 0;
}

main section:nth-of-type(10) h2{
  margin: 20px 0 0 0;
}

main section:nth-of-type(10) button{
  border: solid 1px var(--link-color);
  padding: 1em;
  outline: none;
  color: var(--link-color);
  background-color: var(--color-background);
  border-radius: 10px;
  font-size: 1em;
  font-family: CerealMedium;
}


main section:nth-of-type(10) ul li{
  display: flex;
  align-items: center;
  gap: 1em;
}

main section:nth-of-type(10) ul li:nth-last-of-type(1),
main section:nth-of-type(10) ul li:nth-last-of-type(2){
  text-decoration: line-through;
}

main section:nth-of-type(10) ul li p{
  margin: 12px 0;
}



/*****************/
/*SECTION 11 STYLING*/
/*****************/


main section:nth-of-type(11){

}





/*****************/
/*SECTION 12 STYLING*/
/*****************/


main section:nth-of-type(12){

}





/*****************/
/*SECTION 13 STYLING*/
/*****************/


main section:nth-of-type(13) {
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 0;
}

main section:nth-of-type(13) button{
border: solid 1px var(--link-color);
padding: 1em;
outline: none;
color: var(--link-color);
background-color: var(--color-background);
border-radius: 10px;
font-size: 1em;
font-family: CerealMedium;
}

main section:nth-of-type(13) > div{
  display: flex;
  align-items: center;
  gap: 0.5em;
}



main section:nth-of-type(13) ul li{
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 1em;
  list-style-type: none;
}

main section:nth-of-type(13) ul li a{
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: var(--link-color);
  text-decoration: underline;
  font-family: CerealMedium;
}

main section:nth-of-type(13) ul li div{
  display: grid;
  grid-template-columns: 18% 1fr;
}

main section:nth-of-type(13) ul li div h3{
  font-size: 1em;
  font-family: CerealMedium;
}

main section:nth-of-type(13) ul li div p{
  font-size: 0.9em;
  color: var(--color-light-text);
}

main section:nth-of-type(13) ul li div h3,
main section:nth-of-type(13) ul li div p{
  padding: 0;
  margin: 0;
}

main section:nth-of-type(13) img{
  max-width: 40px;
  border-radius: 50%;
  grid-row: 1/ span 2;

}





/*****************/
/*SECTION 14 STYLING*/
/*****************/


main section:nth-of-type(14){

}





/*****************/
/*SECTION 15 STYLING*/
/*****************/


main section:nth-of-type(15){

}





/*****************/
/*SECTION 16 STYLING*/
/*****************/


main section:nth-of-type(16){

}





/*****************/
/*SECTION 17 STYLING*/
/*****************/


main section:nth-of-type(17){

}





/*****************/
/*SECTION 18 STYLING*/
/*****************/


main section:nth-of-type(18){

}
