/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}


body {
  font-family: CerealBook;
}

strong {
  font-family: CerealMedium;
}



/**********/
/* FOOTER */
/**********/


footer {
  background-color: var(--footer-color);
}

footer section:nth-of-type(1){
  margin: 0 24px 24px 24px;
}

footer section:nth-of-type(1) p:nth-of-type(1){
  margin: 0 ;
  padding: 24px 0 0 0;
}

/**********/
/* HEADER */
/**********/


header {
  display: flex;
  padding: 24px;
  justify-content: flex-end;
  gap: 20px;
  position: absolute;
  width: 100%;
}

header button {
  background: none;
  border: none;
  font-family: CerealMedium;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

header a {
  color: black;
  position: absolute;
  left: 24px;
}

header button,
header a {
  background: var(--bolletjes-color);
  border-radius: 50%;
  padding: 10px;
}





/*****************/
/*RESERVE NAV STYLING*/
/*****************/


nav {
  position: fixed;
  bottom: 0;
  background-color: var(--color-background);
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9em;
  min-height: 67px;
  border-top: 1px solid var(--border-color);
}

nav p {
  margin: 0;
}

nav button{
  outline: none;
  background-color: var(--nav-focused);
  border: none;
  padding: 1em;
  color: white;
  font-size: 1em;
  border-radius: 10px;
  margin: 0.55em;
}

nav a{
  text-decoration: underline;
  font-family: CerealMedium;
}





/*****************/
/*MAIN SECTION STYLING*/
/*****************/


main section:not(:first-of-type) {
  margin: 24px 24px 0 24px ;
  padding: 0 0 24px 0;
  border-bottom: 1px solid var(--border-color);
}





/*****************/
/*SECTION 1 STYLING*/
/*****************/



main section:nth-of-type(1) ul {
  margin-top: 0;
}

main section:nth-of-type(1) ul li{
  position: relative;
  z-index: -100;
}

main section:nth-of-type(1) ul li p{
  bottom: 16px;
  border-radius: 4px;
  position: absolute;
  right: 12px;
  color: var(--overlay-text);
  background-color: var(--overlay-background);
  padding: 3px 10px;
  font-size: 0.7em;
}

main section:nth-of-type(1) ul li img {
  width: 100%;
}



/*****************/
/*SECTION 2 STYLING*/
/*****************/


main section:nth-of-type(2) ul{
  display: flex;
  align-items: center;
  border-bottom: none;
  list-style-type: none;
  gap: 0.5em;
  flex-wrap: wrap;
  margin: 0;
}

main section:nth-of-type(2) button {
  outline: 0;
  text-decoration: underline;
  border: none;
  background: none;
  color: var(--text-color);
  padding: 0;
  font-family: CerealMedium;
}

main section:nth-of-type(2) ul li{
  display: flex;
  flex-direction: row;
}

main section:nth-of-type(2) ul li p:first-of-type {
  display: flex;
  flex-direction: row;
}

main section:nth-of-type(2) ul li p {
  margin: 0;
  white-space: nowrap;
}






/*****************/
/*SECTION 3 STYLING*/
/*****************/


main section:nth-of-type(3) {
  display: grid;
  grid-template-columns: 90% 1fr;
  /* align-items: center; */
  justify-items: end;
}

main section:nth-of-type(3) p{
  margin: 0;
  justify-self: left;
}





/*****************/
/*SECTION 4 STYLING*/
/*****************/


main section:nth-of-type(4) {
  display: grid;
  grid-template-columns: 83% 1fr;
  grid-template-rows: 1fr 40%;
}

main section:nth-of-type(4) h2 {
  margin: 0;
}

main section:nth-of-type(4) div{
  grid-column: 2;
  grid-row: 1/ span 2 ;
  position: relative;
}

main section:nth-of-type(4) ul{
  display: flex;
  gap: 0.5em;
  list-style-type: none;
  margin: 0;
  flex-wrap: wrap;
}

main section:nth-of-type(4) ul{
  white-space: nowrap;
}

main section:nth-of-type(4) ul li p {
  grid-column: 1 ;
  margin: 4px 0 0 0;
}

main section:nth-of-type(4) div img {
  max-width: 3em;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 0;
}

main section:nth-of-type(4) div svg {
  position: absolute;
  right: -1em;
  top: 38px;
}





/*****************/
/*SECTION 5 STYLING*/
/*****************/


main section:nth-of-type(5) ul {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main section:nth-of-type(5) ul li {
  list-style-type: none;

  display: grid;
  grid-template-columns: 10% 90%;
}

main section:nth-of-type(5) ul li h3 {
  margin: 0;
  font-family: CerealMedium;
  font-size: 1.1em;
}

main section:nth-of-type(5) ul li p {
  font-size: 0.9em;
  color: var(--color-light-text);
}

main section:nth-of-type(5) ul li svg {
  grid-row: 1 / span 2;
  justify-self: center;
}





/*****************/
/*SECTION 6 STYLING*/
/*****************/


main section:nth-of-type(6) img {
  max-width: 140px;
}

main section:nth-of-type(6) p {
  font-size: 0.9em;
  color: var(--color-light-text);

}

main section:nth-of-type(6) a {
  color: var(--link-color);
  text-decoration: underline;
}





/*****************/
/*SECTION 7 STYLING*/
/*****************/


main section:nth-of-type(7) {
  padding: 0 0 1em 0;
}


main section:nth-of-type(7) a {
  color: var(--link-color);
  text-decoration: underline;
  font-family: CerealMedium;
}



main section:nth-of-type(7) ul {
  list-style-type: none;

  display: grid;
  grid-template-columns: 1.5em 1fr;
}

main section:nth-of-type(7) ul li {
  font-size: 0.8em;
}

main section:nth-of-type(7) ul li *:not(svg) {
  margin: 0;
}





/*****************/
/*SECTION 8 STYLING*/
/*****************/


main section:nth-of-type(8) {
  display: flex;
  flex-direction: column;
  padding: 0 0 1em 0;
}

main section:nth-of-type(8) button {
  border: solid 1px var(--link-color);
  padding: 1em;
  outline: none;
  color: var(--link-color);
  background-color: var(--color-background);
  border-radius: 10px;
  font-size: 1em;
  font-family: CerealMedium;
}


main section:nth-of-type(8) ul li {
  display: flex;
  align-items: center;
  gap: 1em;
}

main section:nth-of-type(8) ul li:nth-last-of-type(1),
main section:nth-of-type(8) ul li:nth-last-of-type(2) {
  text-decoration: line-through;
}

main section:nth-of-type(8) ul li p {
  margin: 12px 0;
}




/*****************/
/*SECTION 9 STYLING*/
/*****************/


main section:nth-of-type(9) {
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(9) h2{
  margin: 16px 0;
}

main section:nth-of-type(9) button {
  border: solid 1px var(--link-color);
  padding: 1em;
  outline: none;
  color: var(--link-color);
  background-color: var(--color-background);
  border-radius: 10px;
  font-size: 1em;
  font-family: CerealMedium;
}

main section:nth-of-type(9)>div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

main section:nth-of-type(9) ul li {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 1em;
  list-style-type: none;
}

main section:nth-of-type(9) ul li a {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: var(--link-color);
  text-decoration: underline;
  font-family: CerealMedium;
}

main section:nth-of-type(9) ul li div {
  display: grid;
  grid-template-columns: max-content 80%;
  column-gap: 5px;
}

main section:nth-of-type(9) ul li div h3 {
  font-size: 1em;
  font-family: CerealMedium;
}

main section:nth-of-type(9) ul li div p {
  font-size: 0.9em;
  color: var(--color-light-text);
}

main section:nth-of-type(9) ul li div h3,
main section:nth-of-type(9) ul li div p {
  padding: 0;
  margin: 0;
}

main section:nth-of-type(9) img {
  max-width: 40px;
  border-radius: 50%;
  grid-row: 1/ span 2;

}





/*****************/
/*SECTION 10 STYLING*/
/*****************/


main section:nth-of-type(10) {
  margin: 24px 24px 0 24px;
  padding: 0 0 24px 0;
  display: flex;
  flex-direction: column;
}

main section:nth-of-type(10) h3 {
  margin: 0;
  font-size: 1.1em;
  font-family: CerealMedium;
}

main section:nth-of-type(10) a {
  color: var(--link-color);
  text-decoration: underline;
  font-family: CerealMedium;
}

main section:nth-of-type(10) button {
  border: solid 1px var(--link-color);
  padding: 1em;
  outline: none;
  color: var(--link-color);
  background-color: var(--color-background);
  border-radius: 10px;
  font-size: 1em;
  font-family: CerealMedium;
}

main section:nth-of-type(10)>p:nth-of-type(1) {
  margin-bottom: 0;
}

main section:nth-of-type(10)>p:nth-of-type(2) {
  margin-top: 5px;
}

main section:nth-of-type(10)>div:nth-of-type(1) {
  display: grid;
  grid-template-columns: 80% 1fr;
}

main section:nth-of-type(10)>div:nth-of-type(1) h2 {
  font-size: 1.2em;
  margin: 0 0 5px 0;
  font-family: CerealMedium;
}

main section:nth-of-type(10)>div:nth-of-type(1) p {
  font-size: 0.9em;
  margin: 0;
}

main section:nth-of-type(10)>div:nth-of-type(1) img {
  max-width: 3em;
  border-radius: 50%;
  right: 24px;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
}

main section:nth-of-type(10)>div:nth-of-type(1) svg {
  grid-column: 2;
  grid-row: 1;
  position: relative;
  right: -1em;
  top: 16px;
  justify-self: end;

}


main section:nth-of-type(10) ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1em;
}

main section:nth-of-type(10) ul li p {
  margin: 6px 0;
}


main section:nth-of-type(10)>div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 95% max-content ;
  align-items: center;
}

main section:nth-of-type(10)>div:nth-of-type(2) p {
  font-size: 0.8em;
}

main section:nth-of-type(10)>div:nth-of-type(2) svg{
  justify-self: end;
}





/*****************/
/*SECTION 11 STYLING*/
/*****************/


main section:nth-of-type(11) {
  display: grid;
  grid-template-columns: 95% 1fr;
  align-items: center;
}

main section:nth-of-type(11) svg {
  justify-self: end;
}

main section:nth-of-type(11) p {
  color: var(--color-light-text);
}




/*****************/
/*SECTION 12 STYLING*/
/*****************/


main section:nth-of-type(12) {
  padding: 0 0 24px 0;
}


main section:nth-of-type(12) h2 {
  margin-bottom: 0;
}

main section:nth-of-type(12) p {
  margin: 6px 0;
  color: var(--color-light-text);
  font-size: 0.9em;
}

main section:nth-of-type(12) a {
  text-decoration: underline;
}





/*****************/
/*SECTION 13 STYLING*/
/*****************/


main section:nth-of-type(13) {
  padding: 0 0 24px 0;
}


main section:nth-of-type(13) h2 {
  margin-bottom: 0;
}

main section:nth-of-type(13) p {
  margin: 6px 0;
  color: var(--color-light-text);
  font-size: 0.9em;
}

main section:nth-of-type(13) a {
  text-decoration: underline;
}





/*****************/
/*SECTION 14 STYLING*/
/*****************/


main section:nth-of-type(14) {
  margin: 24px 0 0 0;
  padding: 0 24px 24px 24px;

  display: flex;
  gap: 1em;
  border-bottom: 10px solid var(--border-color);
}

main section:nth-of-type(14) a {
  text-decoration: underline;

  font-family: CerealMedium;
}





/*****************/
/*SECTION 15 STYLING*/
/*****************/


main section:nth-of-type(15){
  margin: 24px 0 0 0;
  padding: 0 24px 24px 24px;
}

main section:nth-of-type(15) h2{
  margin-bottom: 2em;
}

main section:nth-of-type(15) ul:nth-of-type(1){
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style-type: none;
  gap: 1.5em;
}

main section:nth-of-type(15) ul:nth-of-type(1) li{
  color: var(--color-light-text);
}

main section:nth-of-type(15) ul:nth-of-type(2){
  list-style-type: none;
  display: flex;
  padding: 1.5em 0 0 0;
  gap: 0.5em;
}

main section:nth-of-type(15) ul:nth-of-type(2) li{
  display: flex;
  align-items: center;
  gap: 0.5em;
  white-space: nowrap;
}

main section:nth-of-type(15) ul:nth-of-type(2) li a{
  font-size: 0.8em;
  color: var(--color-light-text);
  text-decoration: none;
}