/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
  cursor: pointer;
}





/****************/
/* ADDING FONTS */
/****************/
@font-face {
  font-family: 'CerealMedium';
  src: url('../fonts/Airbnb-Cereal-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CerealBold';
  src: url('../fonts/Airbnb-Cereal-Medium.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'CerealBook';
  src: url('../fonts/Airbnb-Cereal-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /* startje */
  --color-text:#111;
  --color-background:#FFF;
  --header-focused: black;
  --header-unfocused:	#717171;
  --link-color: rgb(34, 34, 34);
  --border-color: #DDDDDD;
  --nav-unfocused: rgb(176, 176, 176);
  --nav-focused: rgb(255, 56, 92);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-text:#fff;
    --color-background:#353535;
    --header-focused: white;
    --header-unfocused:	#fff;
    --link-color: #fff;
    --border-color: #DDDDDD;
    --nav-unfocused: rgb(176, 176, 176);
    --nav-focused: rgb(255, 56, 92);
  }
} */





/***********/
/* STYLING */
/***********/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  color:var(--color-text);
  background-color:var(--color-background);
  font-family: CerealMedium;
  margin: 0;
}





/****************/
/* MAIN STYLING */
/****************/

main section > ul {
  padding: 0;
  
}





/******************/
/* FOOTER STYLING */
/******************/
footer section {
  text-decoration: none;
  margin: 24px;
  border-bottom: 1px solid var(--border-color);
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
  font-size: 14px;
  font-family: CerealBook;
  margin-top: 12px;
}

footer section a {
  text-decoration: none;
  color: var(--link-color);
}

footer section a:hover {
  text-decoration: underline;
}

footer strong {
  font-size: 14px;
}

/* position and style buttons */
footer section:nth-last-child(2) {
  border: none;
  display: flex;
  align-items: center;
}

footer section:nth-last-child(2) button{
  background: none;
  border: none;
  font-family: CerealMedium;
  font-size: 14px;
}

footer section:nth-last-child(2) button:hover {
  text-decoration: underline;
}

/* positioning for last footer items */
footer section:nth-of-type(6) ul {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 64px;
}

footer section:nth-of-type(6) li:first-of-type {
  grid-column: 1/3;
}