/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
    cursor: pointer;
}


/****************/
/* ADDING FONTS */
/****************/
@font-face {
  font-family: 'CerealMedium';
  src: url('../fonts/Airbnb-Cereal-Medium.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'CerealBold';
  src: url('../fonts/Airbnb-Cereal-Medium.woff2') format('woff2');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'CerealBook';
  src: url('../fonts/Airbnb-Cereal-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#111;
    --color-background:#FFF;
    --header-focused: black;
    --header-unfocused:	#717171;
    --link-color: rgb(34, 34, 34);
    --border-color: #DDDDDD;
    --nav-unfocused: rgb(176, 176, 176);
    --nav-focused: rgb(255, 56, 92);
}





/***********/
/* STYLING */
/***********/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  color:var(--color-text);
  background-color:var(--color-background);
  font-family: CerealMedium;
  margin: 0;
}





/******************/
/* HEADER STYLING */
/******************/
header nav {
  overflow: hidden;
  background-color: var(--color-background);
}

header > nav ul{
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
  scrollbar-width: none; /* voor firefox */
  overscroll-behavior: contain auto;
  padding: 0 24px 20px 24px;
  border-bottom: 1px solid var(--border-color);
  margin: 16px 0 0 0;
}

header > nav ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}

header > nav li{
  font-size: 12px;
  list-style-type: none;
  display: flex;
  margin-right: 10px;
}

header > nav a {
  white-space: nowrap;
  text-decoration: none;
  color: var(--header-unfocused);
  flex-direction: column-reverse;
  display: flex;
  align-items: center;
}

header > nav a:focus {
  color: var(--header-focused);
}

header > nav img {
  max-width: 26px;
  margin-bottom: 4px;
}

header > nav li:nth-of-type(1) a{
  color: var(--header-focused);
  border-bottom: 2px solid var(--color-text);
}

header > nav li:not(:first-child) a:hover{
  color: var(--header-focused);
  border-bottom: 2px solid var(--border-color);
}





/********************/
/* PAGE NAV STYLING */
/********************/
main nav {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  background-color: var(--color-background);
  border-top: 1px solid var(--border-color);
}

main nav ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin:  12px 0 12px 0;
}

main nav ul li {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main nav ul li a {
  text-decoration: none;
  color: var(--header-unfocused);
  font-size: 10px;
}

main nav ul li svg {
  color: var(--nav-unfocused);
}

main nav ul li:nth-of-type(1) a{
  color:var(--header-focused)
}

main nav ul li:nth-of-type(1) svg{
  color: var(--nav-focused);
}




/******************/
/* FOOTER STYLING */
/******************/
footer section {
  text-decoration: none;
  margin: 24px;
  border-bottom: 1px solid var(--border-color);
}

footer ul li {
  list-style-type: none;
  font-size: 14px;
  font-family: CerealBook;
  margin-top: 12px;
}

footer section a {
  text-decoration: none;
  color: var(--link-color);
}

footer section a:hover {
  text-decoration: underline;
}

footer strong {
  font-size: 14px;
}

/* remove border from buttons  */
footer section:nth-last-child(2) {
  border: none;
}

footer section:nth-last-child(2) button::before{
  border: none;
}

/* path {
  fill:red;
} */

/* positioning for last footer items */
footer section:nth-of-type(6) ul {
  display: grid;
  grid-template-columns: 50% 50%;
}

footer section:nth-of-type(6) li:first-of-type {
  grid-column: 1/3;
}





/****************/
/* MAIN STYLING */
/****************/
main section:nth-of-type(2) > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section > ul li {
  list-style: none;
}

ul {
  padding: 0;
}

/* used to put image above the text */
main section > ul li {
  display: flex;
  flex-direction: column-reverse;
}





/*******************/
/* SECTION STYLING */
/*******************/
section:nth-of-type(2) img {
  max-width: 260px;
}





/******************************/
/* DE CAROCARROUSEL CONTAINER */
/******************************/

.caroCarrousel {
  /* basis waarden die door de hele carrousel gebruikt worden */
  /* kun je zelf aanpassen */
  --caroCarrouselMainColor:#000;
  --caroCarrouselAccentColor:#222;
  --caroCarrouselShadeColor:rgba(255, 255, 255, 0.9);

  position: relative;
  overflow: hidden; /* om de linkbuttons te verbergen */
  outline:none;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  .caroCarrousel {
    --caroCarrouselMainColor:rgb(0, 0, 0);
    --caroCarrouselShadeColor:rgba(255, 255, 255, 0.9);
  }
  /* .caroCarrousel path {
    stroke:white;
  } */
}

/************************************/
/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
  display: flex;
    
  /* handmatig scrollen is mogelijk */
  overflow: scroll;
    
  /* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
  scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
  scrollbar-width: none; /* voor firefox */
}

.caroCarrousel > ul::-webkit-scrollbar {
  /* scrollbar zoveel mogelijk verbergen */
  display: none; /* voor chrome, safari en edge*/
}

/**************************/
/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
  scroll-snap-align:center;
}

/**********************************/
/* de carrousel elementen content */
/* de stijlen voor jouw content hier */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
  border-radius: 20px;
}





/****************************/
/* PREV EN NEXT LINKBUTTONS */
/****************************/
.caroCarrousel > a {
  position: absolute;
  width: 2em;
  aspect-ratio:1/1;
  top: calc(50% - 1.5em);
  
  color: var(--caroCarrouselMainColor);
  background-color: var(--caroCarrouselShadeColor);
  outline: none;
  box-shadow:  1px 0px 5px 0px currentColor;
  border-radius: 100%;
    
  display:grid;
  place-items:center;
  
  transition: 0.1s;
}

/* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
  left:-3.5em;
}
.caroCarrousel > a[href="next"] {
  right: -3.5em;
}

/* bij hover en focus schuiven de links in beeld */
.caroCarrousel:hover > a[href="previous"],
.caroCarrousel:focus-within > a[href="previous"] {
  left:.5em;
}
.caroCarrousel:hover > a[href="next"],
.caroCarrousel:focus-within > a[href="next"] {
  right:.5em;
}

.caroCarrousel > a[href=previous]::before {
    transform-origin: 2px center;
    transform: translateY(0) rotate(45deg);
}

.caroCarrousel > a[href=previous]::after {
    transform-origin: 2px center;
    transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
    transform-origin: calc(100% - 2px) center;
    transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
    transform-origin: calc(100% - 2px) center;
    transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:hover,
.caroCarrousel > a:focus {
  color: var(--caroCarrouselAccentColor);
}